version: v1.3.0

dsn: postgres://kratos:password@ory-kratos-db:5432/kratos?sslmode=disable

log:
  format: json

serve:
  public:
    base_url: http://localhost:4433/
    cors:
      enabled: true
      allow_credentials: true
      options_passthrough: false
      max_age: 0
      debug: false
  admin:
    base_url: http://localhost:4434/

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/kratos/schemas/default.schema.json
      selfservice_selectable: true

    - id: users.v1
      url: file:///etc/kratos/schemas/users.v1.schema.json
      selfservice_selectable: true

selfservice:
  # Where to go after success (e.g., Dashboard, Landing Page).
  default_browser_return_url: http://cero.com/welcome

  methods:
    password:
      enabled: true
      config:
        haveibeenpwned_enabled: false
        min_password_length: 8
    totp:
      enabled: true
    code:
      enabled: true
      config:
        lifespan: "15m"
    link:
      enabled: true
    webauthn:
      enabled: false
    passkey:
      enabled: false
    oidc:
      enabled: false

  flows:
    registration:
      after:
        password:
          hooks:
            - hook: session
