services:
  keycloak:
    image: ${REGISTRY:-}keycloak/keycloak:${KEYCLOAK_VERSION:-latest}
    container_name: keycloak
    ports:
      - "19542:8080"
    command:
      - start-dev
      - --bootstrap-admin-password=password
      - --db=postgres
      - --db-url-host=keycloak-db
      - --db-url-port=5432
      - --db-url-database=keycloak
      - --db-username=keycloak
      - --db-password=password
      - --db-schema=public
      - --metrics-enabled=true
      - --log-console-output=json
    networks:
      - keycloak-network

  keycloak-db:
    image: ${REGISTRY:-}postgres:${POSTGRES_VERSION:-latest}
    container_name: keycloak-db
    ports:
      - "19543:5432"
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    volumes:
      - keycloak-postgres-data:/var/lib/postgresql
    networks:
      - keycloak-network

volumes:
  keycloak-postgres-data:
    name: keycloak-postgres-data
    driver: local

networks:
  keycloak-network:
    name: keycloak-network
    driver: bridge
    external: true
