scrape_configs:
  - job_name: "cadvisor"
    scrape_interval: 15s
    metrics_path: "/metrics"
    static_configs:
      - targets:
          - "cadvisor:8080"

storage:
  tsdb:
    retention:
      time: 15d
