services:
  postgres:
    image: ${REGISTRY:-}postgres:${POSTGRES_VERSION:-latest}
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-P4ssw0rd!}
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - postgres-network
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 8G

      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        max_failure_ratio: 0.25
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: pause
        max_failure_ratio: 0.25
        order: start-first

volumes:
  postgres-data:
    name: postgres-data
    driver: local

networks:
  postgres-network:
    name: postgres-network
    driver: bridge
    external: true
