receivers:
  hostmetrics:
    collection_interval: 15s
    root_path: "/"
    scrapers:
      cpu: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
        metrics:
          # system.cpu.time: default enabled
          system.cpu.frequency:
            enabled: true
          system.cpu.logical.count:
            enabled: true
          system.cpu.physical.count:
            enabled: true
          system.cpu.utilization:
            enabled: true
      disk: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/diskscraper/documentation.md
        metrics:
          # system.disk.io: default enabled
          # system.disk.io_time: default enabled
          # system.disk.merged: default enabled
          # system.disk.operation_time: default enabled
          # system.disk.operations: default enabled
          # system.disk.pending_operations: default enabled
          # system.disk.weighted_io_time: default enabled
      load: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/loadscraper/documentation.md
        metrics:
          # system.cpu.load_average.15m: default enabled
          # system.cpu.load_average.1m: default enabled
          # system.cpu.load_average.5m: default enabled
      filesystem: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md
        metrics:
          # system.filesystem.inodes.usage: default enabled
          # system.filesystem.usage: default enabled
          system.filesystem.utilization:
            enabled: true
      memory: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
        metrics:
          # system.memory.usage: default enabled
          system.linux.memory.available:
            enabled: true
          system.linux.memory.dirty:
            enabled: true
          system.memory.limit:
            enabled: true
          system.memory.page_size:
            enabled: true
          system.memory.utilization:
            enabled: true




# processors:

exporters:
  prometheusremotewrite:
    endpoint: "http://victoria-metrics:8428/api/v1/write"
    insecure: true
    external_labels:
      exporter: "otel-collector"
    namespace: "otel"
    add_metric_suffixes: true
    remote_write_queue:
      enabled: true
      queue_size: 20000
    resource_to_telemetry_conversion:
      enabled: true
      exclude_service_attributes: true
    target_info:
      enabled: false

# connectors:

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions:
    - health_check
    - pprof
    - zpages
  pipelines:
    # traces:
    metrics:
      receivers: ["hostmetrics"]
      exporters: ["prometheusremotewrite"]
    # logs:
  # telemetry:
    # metrics:
    # logs:

