receivers:
  hostmetrics:
    collection_interval: 15s
    root_path: "/"
    scrapers:
      cpu: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
        metrics:
          # system.cpu.time: default enabled
          system.cpu.frequency:
            enabled: true
          system.cpu.logical.count:
            enabled: true
          system.cpu.physical.count:
            enabled: true
          system.cpu.utilization:
            enabled: true
      disk: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/diskscraper/documentation.md
        metrics:
          # system.disk.io: default enabled
          # system.disk.io_time: default enabled
          # system.disk.merged: default enabled
          # system.disk.operation_time: default enabled
          # system.disk.operations: default enabled
          # system.disk.pending_operations: default enabled
          # system.disk.weighted_io_time: default enabled
      load: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/loadscraper/documentation.md
        metrics:
          # system.cpu.load_average.15m: default enabled
          # system.cpu.load_average.1m: default enabled
          # system.cpu.load_average.5m: default enabled
      filesystem: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md
        metrics:
          # system.filesystem.inodes.usage: default enabled
          # system.filesystem.usage: default enabled
          system.filesystem.utilization:
            enabled: true
      memory: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
        metrics:
          # system.memory.usage: default enabled
          system.linux.memory.available:
            enabled: true
          system.linux.memory.dirty:
            enabled: true
          system.memory.limit:
            enabled: true
          system.memory.page_size:
            enabled: true
          system.memory.utilization:
            enabled: true
      network: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/networkscraper/documentation.md
        metrics:
          # system.network.connections: default enabled
          # system.network.dropped: default enabled
          # system.network.errors: default enabled
          # system.network.io: default enabled
          # system.network.packets: default enabled
          system.network.conntrack.count:
            enabled: true
          system.network.conntrack.max:
            enabled: true
      nfs: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/nfsscraper/documentation.md
        metrics:
          # nfs.client.net.count: default enabled
          # nfs.client.net.tcp.connection.accepted: default enabled
          # nfs.client.operation.count: default enabled
          # nfs.client.procedure.count: default enabled
          # nfs.client.rpc.authrefresh.count: default enabled
          # nfs.client.rpc.count: default enabled
          # nfs.client.rpc.retransmit.count: default enabled
          # nfs.server.fh.stale.count: default enabled
          # nfs.server.io: default enabled
          # nfs.server.net.count: default enabled
          # nfs.server.net.tcp.connection.accepted: default enabled
          # nfs.server.operation.count: default enabled
          # nfs.server.procedure.count: default enabled
          # nfs.server.repcache.requests: default enabled
          # nfs.server.rpc.count: default enabled
          # nfs.server.thread.count: default enabled
      paging: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/pagingscraper/documentation.md
        metrics:
          # system.paging.faults: default enabled
          # system.paging.operations: default enabled
          # system.paging.usage: default enabled
          system.paging.utilization:
            enabled: true
      processes: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/processesscraper/documentation.md
        metrics:
          # system.processes.count: default enabled
          # system.processes.created: default enabled
      process: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
        metrics:
          # process.cpu.time: default enabled
          # process.disk.io: default enabled
          # process.memory.usage: default enabled
          # process.memory.virtual: default enabled
          process.context_switches:
            enabled: true
          process.cpu.utilization:
            enabled: true
          process.disk.operations:
            enabled: true
          process.handles:
            enabled: true
          process.memory.utilization:
            enabled: true
          process.open_file_descriptors:
            enabled: true
          process.paging.faults:
            enabled: true
          process.signals_pending:
            enabled: true
          process.threads:
            enabled: true
          process.uptime:
            enabled: true
      system: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/systemscraper/documentation.md
        metrics:
          # system.uptime: default enabled

# processors:

exporters:
  prometheusremotewrite:
    endpoint: "http://victoria-metrics:8428/api/v1/write"
    insecure: true
    external_labels:
      exporter: "otel-collector"
    namespace: "otel"
    add_metric_suffixes: true
    remote_write_queue:
      enabled: true
      queue_size: 20000
    resource_to_telemetry_conversion:
      enabled: true
      exclude_service_attributes: true
    target_info:
      enabled: false

# connectors:

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions:
    - health_check
    - pprof
    - zpages
  pipelines:
    # traces:
    metrics:
      receivers: ["hostmetrics"]
      exporters: ["prometheusremotewrite"]
    # logs:
  # telemetry:
    # metrics:
    # logs:

