services:
  otel-collector:
    image: ${REGISTRY:-}otel/opentelemetry-collector:${OPENTELEMETRY_COLLECTOR_VERSION:-latest}
    container_name: otel-collector-host
    network_mode: host
    pid: host
    cap_add:
      - SYS_PTRACE
      - DAC_READ_SEARCH
      - NET_ADMIN
    security_opt:
      - label=disable
    command:
      - "--config=/etc/otel/collector.yaml"
    volumes:
      - /:/hostfs:ro
      - /proc:/hostfs/proc:ro
      - /sys:/hostfs/sys:ro
      - /etc:/hostfs/etc:ro
      - ./otel_collector_host_cfg.yaml:/etc/otel/collector.yaml:ro
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "2"
          memory: 4G
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        max_failure_ratio: 0.25
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: pause
        max_failure_ratio: 0.25
        order: start-first
