services:
  jaeger-ingester:
    image: ${REGISTRY:-}jaegertracing/jaeger-ingester:${JAEGER_VERSION:-latest}
    ports:
      - "14270:14270"
    environment:
      - SPAN_STORAGE_TYPE=memory
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
    networks:
      - jaeger-network

networks:
  jaeger-network:
    driver: overlay
