services:
  jaeger-query:
    image: ${REGISTRY:-}jaegertracing/jaeger-query:${JAEGER_VERSION:-latest}
    container_name: jaeger-query
    ports:
      - "16685:16685"
      - "16686:16686"
      - "16687:16687"
    environment:
      - SPAN_STORAGE_TYPE=memory
    networks:
      - jaeger-network
    restart: unless-stopped

networks:
  jaeger-network:
    driver: overlay
